<template name="footer">
  <footer id="footer">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-3">
  				<center><h4>Información</h4></center>
  				<ul style="list-style-type:none">
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  				</ul>
  			</div>
  			<div class="col-md-3">
  				<center><h4>Servicios</h4></center>
  				<ul style="list-style-type:none">
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  				</ul>
  			</div>
  			<div class="col-md-3">
  				<center><h4>FAQ</h4></center>
  				<ul style="list-style-type:none">
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  					<li><a class="footer" href="">Cómo enviar dinero</a></li>
  				</ul>
  			</div>
  			<div class="col-md-3">
  				<center><img src="img/DafcoinLogo.png" weight="150" height="170" alt="dafcoin"></center>
  			</div>
  			<div class="terminos">
  			<ul class="text-center" style="list-style-type:none">
              	<li id="terminos"><a href="#terminos" class="text-term">Términos y condiciones</a></li>
              	<span>|</span>
              	<li id="terminos"><a href="#terminos" class="text-term">Política de privacidad</a></li>
              </ul>
          	</div>
          </div>
  	</div>
  </footer>
</template>
